<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyACvJFaikcjYaXMTzDR2YQSbCbQUxgF9aE</string>
	<key>GCM_SENDER_ID</key>
	<string>728569554138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.hendrilmendes.newsdroid.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>news-droid-app-1670874618271</string>
	<key>STORAGE_BUCKET</key>
	<string>news-droid-app-1670874618271.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728569554138:ios:32bf23abe659fa7e8471e3</string>
</dict>
</plist>